body{
  text-align: center;
  background-color: #252525;
}
h1{
  position:absolute;
  top: 20%;
  left: 32%;
  color: #fbe6c2;
  font-family: cursive;
}
.name-label{
  font-family: cursive;
  font-size: 30px;
  color: #c8c6a7;
  position: absolute;
  left: 30%;
  margin: 40px auto;
  top: 27%;
}
.email-label{
  font-family: cursive;
  font-size: 30px;
  color: #c8c6a7;
  position: absolute;
  left: 30%;
  margin: 40px auto;
  top: 37%;
}
.password-label{
  font-family: cursive;
  font-size: 30px;
  color: #c8c6a7;
  position: absolute;
  left: 30%;
  margin: 40px auto;
  top: 47%;
}
.name-input{
  border-style: solid;
  border-radius: 15px;
  position: absolute;
  left: 45%;
  margin: 20px auto;
  height: 40px;
  width: 30%;
  top: 30%;
}
.email-input{
  border-style: solid;
  border-radius: 15px;
  position: absolute;
  left: 45%;
  margin: 20px auto;
  height: 40px;
  width: 30%;
  top: 40%;
}
.password-input{
  border-style: solid;
  border-radius: 15px;
  position: absolute;
  left: 45%;
  margin: 20px auto;
  width: 30%;
  height: 40px;
  top: 50%;
}
.textarea-label{
  font-family: cursive;
  font-size: 30px;
  color: #c8c6a7;
  position: absolute;
  left: 30%;
  margin: 40px auto;
  top: 60%;
}
.submit{
  position:absolute;
  top: 85%;
  left: 45%;
  color: black;
  font-family: cursive;
}
.textarea{
  border-style: solid;
  border-radius: 3px;
  position: absolute;
  left: 45%;
  margin: 20px auto;
  top: 60%;
  width: 30%;
  height: 20%;
}
